body{
    background:linear-gradient(to right,white,rgb(201, 197, 197));
}

.sidebar{
    width: 130px;
    position: fixed;
    z-index: 1;
    background-color: black !important;
    overflow-x: hidden;
    padding: 8px 0;
    text-align: right;
    align-items: center;
}
.sidebar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white !important;
    display: block;
}
.sidebar a:hover{
    color: black !important;
    background-color: white !important;
}
@media screen and (max-height:450px){
    .sidebar{
        padding-top: 15px;
    }
    .sidebar a{
        font-size: 18px;
    }
}
#sport{
    background-image: url("https://st4.depositphotos.com/1004061/29534/i/600/depositphotos_295347446-stock-photo-modern-white-coupe-sports-car.jpg");
   background-repeat: no-repeat;
    width: 1500px;
    height: 750px;
    background-position: center;
    background-size: cover ;

}

 h1{
    text-align: center;
    color: black;
    letter-spacing: 10px;
    font-family: 'Passion One', cursive;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.img img{
        width: 250px;
        height: 300px;
        margin: 20px;
        border: 1px solid black;
        border-radius: 20px;
        cursor: pointer;
        transition: 1s;
        
}
.img img:hover{
    width: 300px;
    height: 350px;
}

.col1 img{
    width: 320px ;
    height: 350px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 10px black;
    

}

.col1 img:hover{
    width: 420px;
    height: 450px;
    border-radius: 30px;
    transform: translateX(10px)  translateY(5px);
    transition: 2s;
   
}
.col1{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;

}


#luxury{
    background:linear-gradient(to left,rgb(235, 215, 193),white);
    background-repeat: no-repeat;
    width: 1500px;
    height: 550px;
    background-position: center;
    background-size: cover ;

}




